<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:https="http://www.w3.org/1999/xhtml">
<head>
  <title>Instellingen</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <link href="/css/static.css" rel="stylesheet">
</head>

<body>
<div class="container-fluid">
  <div class="row">

    <div th:replace="fragmentsUser/headUser :: headUser (title)"></div>

    <div th:replace="fragmentsUser/menuUser :: menuUser"></div>

    <div th:replace="fragmentsUser/reclameUser :: reclameUser (title)"></div>

    <div th:replace="fragmentsUser/feedUser :: feedUser (title)"></div>
  </div>
</div>
</body>

</html>
