<!DOCTYPE html>
<html lang="en">
<head th:fragment = "menuUser">
  <meta charset="UTF-8">
  <title>Navigatiebalk</title>
</head>
<style>
  .grey-btn{
    background:grey;
    color: black;
    border-color: black;
  }
  .grey-btn:hover{
    border-color: black;
    background: red;
  }
</style>

<body>
<div class="col-sm-auto bg-light sticky-top" th:fragment="menuUser" style="color: grey">
  <div class="d-flex flex-sm-column flex-row flex-nowrap bg-light align-items-center sticky-top">
    <a href="/" class="d-block p-3 link-dark text-decoration-none">
      <i class="bi-chat-text fs-1"></i>
    </a>

    <form class="card p-3 bg-light" action="#"  method="post">
      <fieldset>
        <p style="color:grey"  >
          <a class="btn btn-danger" type="submit" style="text-decoration: none; color:#FFFFFF; background: #F00909" href="/instellingen">Algemene Informatie</a>
          <a class="btn btn-danger" type="submit" style="text-decoration: none; color:#FFFFFF; background: #F00909" href="/instellingen/keuzemogelijkheden">Lopende reservaties</a>
        </p>
      </fieldset>
    </form>
  </div>
</div>
</body>
</html>