<!DOCTYPE html>
<html lang="en">
<head th:fragment = "reclameUser (title)">
  <title>reclame User</title>
  <meta charset="UTF-8">

</head>
<body class="text-left">
<div class="reclameUser" th:fragment="reclameUser">

  <div class="reclame">


      <div class="container"  style=" float: right; margin: 30px;margin-right: 30px; border: 1px solid #999; clear: right; width: 500px; height: 250px">
          <img src="Afbeeldingen/snel.jpg" style="height: 250px; width: 480px; margin-right: 30px">
          </div>

    <p STYLE="margin-left: 20px">
        <br>
        Registreer gratis en boek online
        <br>
            Een blok met de bedrijven waar ze kunnen registreren

        <br>
        <br>
        </p>
        </div>



</div>
</body>
</html>