<!DOCTYPE html>
<html lang="en">
<head th:fragment = "reclameUser (title)">
  <title>reclame User</title>
  <meta charset="UTF-8">

</head>
<body class="text-left">
<div class="reclameUser" th:fragment="reclameUser">

  <div class="reclame">

      <div class="container"  style=" float: right; margin: 30px;margin-right: 30px; border: 1px solid #999; clear: right; width: 500px; height: 250px">
          <img src="/Afbeeldingen/snel.jpg" style="height: 250px; width: 480px; margin-right: 30px">
          </div>

    <p STYLE="margin-left: 20px">
        <br>
      <h2 class="frame-title">Registreer gratis en boek online</h2>
        <br>
      <h3 class="frame-title">Kies het bedrijf waar je een reservatie wil maken</h3>
        <br>
        <br>

      <form class="card p-3 bg-light" action="#" th:action="@{/fragmentsInstellingen/instellingenOrg}" th:object="${organisatie}" method="post">
          <fieldset>
              <div class="row" >
                  <table class="table table-hover">
                      <thead>
                      <tr>
                          <th scope="col">Naam</th>
                          <th scope="col">Url</th>
                          <th scope="col">Actie's</th>
                      </tr>
                      </thead>
                      <div class="row" th:if="${organisatie !=null && !organisatie.empty}">
                          <tbody>
                          <tr th:each="organisatie : ${organisatie}">
                              <td th:text="${organisatie.bedrijfsNaam}"></td>
                              <td th:text="${organiatie.paginaNaam}"></td>
                              <td>
                                  <a class="btn btn-sm btn-secondary" th:href="@{/instellingen/booking_step1/}">Reserveer</a>
                              </td>
                          </tr>
                          </tbody>
                      </div>
                  </table>
              </div>
          </fieldset>
      </form>
</div>
</div>
</body>
</html>