<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment = "instellingenUser (title)">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Instellingen</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <link href="/css/static.css" rel="stylesheet">
</head>
<body class="text-center">
<div class="registreer" th:fragment="instellingenUser">

  <main class="form-signin">
    <form action="#" th:action="@{/instellingen}" th:object="${user}" method="post">
      <h1 class="h3 mb-3 fw-normal">Algemene Instellingen</h1>

      <style>
        .form-signin {
          width: 100%;
          max-width: 700px;
          padding: 20px;
          margin: auto;
        }
      </style>

      <input type="hidden"  th:field="*{id}">

      <div class="mb-1 alert alert-danger" role="alert" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
      <div class="form-floating">
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" th:field="*{email}" >
        <label>Email Address</label>
      </div>

      <div class="mb-1 mt-2 alert alert-danger" role="alert" th:if="${#fields.hasErrors('wachtWoord')}" th:errors="*{wachtWoord}"></div>
      <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="WachtWoord" th:field="*{wachtWoord}" >
        <label for="floatingPassword">Wachtwoord</label>
      </div>

      <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword2" placeholder="checkWachtWoord" th:field="*{checkWachtWoord}">
        <label for="floatingPassword">herhaal wachtwoord</label>
      </div>

      <div class="mb-1 mt-2 alert alert-danger" role="alert" th:if="${#fields.hasErrors('familyNaam')}" th:errors="*{familyNaam}"></div>
      <div class="form-floating">
        <input type="text" class="form-control" id="familyNaam" placeholder="familyNaam" th:field="*{familyNaam}" >
        <label for="floatingInput">FamilyNaam</label>
      </div>

      <div class="mb-1 mt-2 alert alert-danger" role="alert" th:if="${#fields.hasErrors('naam')}" th:errors="*{naam}"></div>
      <div class="form-floating">
        <input type="text" class="form-control" id="naam" placeholder="Naam" th:field="*{naam}" >
        <label for="floatingInput">Naam</label>
      </div>

      <div class="mb-1 mt-2 alert alert-danger" role="alert" th:if="${#fields.hasErrors('gsmNummer')}" th:errors="*{gsmNummer}"></div>
      <div class="form-floating">
        <input type="number" class="form-control" id="gsmNummer" placeholder="GsmNummer" th:field="*{gsmNummer}" >
        <label for="floatingInput">GsmNummer</label>
      </div>

      <button class="w-100 btn btn-lg btn-primary" type="submit" style="text-decoration: none; color:#FFFFFF; background: #F00909;">Bewaren</button>
    </form>
  </main>

</div>
</body>
</html>
