<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment = "kalender">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>agenda</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body class="text-center">
<div class="instellingen" th:fragment="kalender">
    <div class="row" >
        <div class="col-md-8 offset-md-2">
            <div>
                <h1 align="center" >Agenda</h1>
            </div>
            <form class="card p-3 bg-light" action="#" th:action="@{/fragmentsInstellingen/kalender}" th:object="${users}" method="post">
                <fieldset>
                    <div class="row" >
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th scope="col">Naam</th>
                                <th scope="col">email</th>
                                <th scope="col">Gsm-nummer</th>
                                <th scope="col">Dienst</th>
                                <th scope="col">Medewerker</th>
                                <th scope="col">Datum</th>
                                <th scope="col">Startuur</th>
                            </tr>
                            </thead>
                            <div class="row" th:if="${reservaties !=null && !reservaties.empty}">
                                <tbody>
                                <tr th:each="reservatie : ${reservaties}">
                                    <td th:text="${reservatie.name}"></td>
                                    <td th:text="${reservatie.email}"></td>
                                    <td th:text="${reservatie.tel}"></td>
                                    <td th:text="${reservatie.dienst}"></td>
                                    <td th:text="${reservatie.medewerker}"></td>
                                    <td th:text="${reservatie.date}"></td>
                                    <td th:text="${reservatie.time}"></td>
                                </tr>
                                </tbody>
                            </div>
                        </table>
                    </div>
                    <a class="btn btn-danger" th:href="@{/}">&#8592;&nbsp;Home</a>
                </fieldset>
            </form>




        </div>
</div>
</div>
</body>
</html>