<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:color="http://www.w3.org/1999/xhtml">
<head th:fragment = "lijsttijdsloten">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>OpeningsUren</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <link href="/css/login.css" rel="stylesheet">
</head>
<style>

</style>

<body  class="text-center">
<div class="lijsttijdsloten"  th:fragment="lijsttijdsloten">
  <div class="container">
    <div class="pb-2 mt-4 mb-4 border-bottom">

      <div class="row" >
        <div class="col-md-8 offset-md-2">
          <div>
            <h3>Geef hier u tijdslot in:</h3>
          </div>
          <form class="card p-3 bg-light" action="#" th:action="@{/fragmentsInstellingen/lijsttijdsloten}" th:object="${tijdslot}" method="post">
            <fieldset>

              <div class="openinghourscontent section">

                <h3>OpeningsTijden</h3>

                <div class="row"  >
                  <table class="table table-hover">
                    <thead>
                    <tr>
                      <th scope="col">Dag</th>
                      <th scope="col">Start</th>
                      <th scope="col">Einde</th>
                      <th scope="col">Actie</th>

                    </tr>
                    </thead>
                    <div class="row" th:if="${tijdsloten !=null && !tijdsloten.empty}">
                      <tbody>
                      <tr th:each="tijdslot : ${tijdsloten}">
                        <td th:text="${tijdslot.Dag.displayName}"></td>
                        <td th:text="${tijdslot.start}"></td>
                        <td th:text="${tijdslot.einde}"></td>
                        <td>
                          <a class="btn btn-sm btn-secondary" th:href="@{/instellingen/medewerker/} + ${idMedewerker} + @{/tijdslot/edit/} + ${tijdslot.id}">Edit</a>
                          <a class="btn btn-sm btn-secondary"  th:href="@{/instellingen/medewerker/} + ${idMedewerker} + @{/tijdslot/delete/} + ${tijdslot.id}">Delete</a>
                          <a class="btn btn-sm btn-secondary" th:href="@{/instellingen/medewerker/}  + ${idMedewerker} + @{/keuzemogelijkheden}">Dienst</a>
                        </td>
                      </tr>
                      </tbody>
                    </div>
                  </table>
                </div>



                <div class="alert alert-primary" role="alert" th:if="${tijdsloten == null || tijdsloten.empty}">
                  Gelieve de mogelijke tijdsloten toe te voegen.
                </div>


                <a class="btn btn-danger" th:href="@{/instellingen/medewerker/}">&#8592;&nbsp;Medewerker</a>
                <a class="btn btn-danger" th:href="@{/instellingen/medewerker/} + ${idMedewerker} + @{/tijdslot/add}">&#43;</a>


              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>