<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:color="http://www.w3.org/1999/xhtml">
<head th:fragment = "tijdslot (title)">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Snelgeboekt tijdslot</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <link href="/css/login.css" rel="stylesheet">
</head>
<body  class="text-center">
<div class="tijdslot"  th:fragment="tijdslot">
  <div class="container">
    <div class="pb-2 mt-4 mb-4 border-bottom">


      <div class="row">
        <div class="col-md-8 offset-md-2">
          <div>
            <h4>Voeg een tijdslot toe:</h4>
          </div>
          <form class="card p-3 bg-light" action="#" th:action="@{/instellingen/tijdslot/add}" th:object="${tijdslot}" method="post">
            <fieldset>

              <div class="form-group">
                <input type="hidden"  th:field="*{id}">
              </div>

              <div class="mb-3">
                <label>Dag</label>
                <select name="dag" class="form-control">
                  <option th:each="dag : ${T(com.eindwerk.SnelGeboekt.instellingen.tijdsloten.Tijdslot.Dag).values()}"
                          th:value="${dag}" th:text="${dag.displayName}"
                          th:selected="${tijdslot.dag.equals(dag)}">
                  </option>
                </select>
              </div>
              <div class="mb-3">
                <label>Start</label>
                <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('start')}" th:errors="*{start}"></div>
                <input type="number" class="form-control" th:field="*{start}">
              </div>

              <div class="mb-3">
                <label>Einde</label>
                <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('einde')}" th:errors="*{einde}"></div>
                <input type="number" class="form-control" th:field="*{einde}">
              </div>

              <p>
                <a th:href="@{/instellingen/tijdslot}" class="btn btn-secondary ">Annuleren</a>
                <input class="btn btn-danger" type="submit" value="Bewaren">
              </p>

            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
