<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:https="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
    <select th:fragment = "employees" name = "employees" id="select-medewerker" class="form-control">
      <option value="-1">Kies een medewerker</option>
      <option th:each="medewerker, iStat : ${medewerkers}"
              th:value="${iStat.index}"
              th:text="${medewerker.naam}"
      ></option>

        <select th:fragment = "employees" name = "medewerker" id="select-dienst" class="form-control">
            <option value="null">Kies een dienst</option>
            <option th:each="optie, iStat : ${opties}"
                    th:value="${optie}"
                    th:text="${optie}">
            </option>
        </select>
    </select>
</body>
</html>