<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:fragment = "optieUser (title)">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Optie</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link href="/css/static.css" rel="stylesheet">
</head>
<style>
    .form-signin {
        width: 100%;
        max-width: 700px;
        padding: 20px;
        margin: auto;
    }
</style>
<body  class="text-center">
<div class="registreer" th:fragment="optieUser">

    <main class="form-signin">
        <br>
        <br>
        <form action="#" th:action="@{/reservatie/step1}" th:object="${opties}" method="post">
            <div class="form-group">
                <label for="select-dienst">
                    <strong>Dienst</strong>
                </label>
                <br>
                <br>
                <select id="select-dienst" class="form-control">
                    <option value="-1">Kies een dienst</option>
                    <option th:each="optie, iStat : ${opties}"
                            th:value="${iStat.index}"
                            th:text="${optie}">
                    </option>
                </select>
            </div>
        </form>
        <br>
        <br>
        <form action="#" th:action="@{/reservatie/} + ${slug} + @{/step1}" th:object="${medewerkers}" method="post">
            <div class="frame-container">
                <div class="row frame-content">
                    <div class="col">
                        <div class="form-group">

                            <label for="select-dienst">
                                <strong>Medewerker</strong>
                            </label>
                            <br>
                            <br>
                            <select name = "employee" id="select-medewerker" class="form-control" disabled>
                                <option value="-1">Kies een medewerker</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="command-buttons">
            <span>&nbsp;</span>
        </div>
        <script th:inline="javascript">
            $(function () {
                $("#select-dienst").change(function () {
                    let request = "getemployees?service=";
                    if (this.value >-1) {
                        request = request + this.value;
                        $("#select-medewerker").load(request);
                        $("#select-medewerker").removeAttr("disabled");
                    } else {

                        $("#select-medewerker").val(-1);
                        $("#select-medewerker").attr("disabled",true);
                    }
                });
            });
        </script>
    </main>
</div>
</body>
</html>
