<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:https="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
<div th:fragment = "frame1" id="wizard-frame-1" class="wizard-frame" style="">
  <form action="#" th:action="@{/reservatie/step4}" th:object="${reservatie}" method="post">
      <div class="frame-container">
        <h2 class="frame-title">Bevestiging</h2>
          <p>Dienst: <span th:text="${reservatie.stepOneData.service}"></span></p>
          <p>Medewerker: <span th:text="${reservatie.stepOneData.employee}"></span></p>
          <p>Datum: <span th:text="${reservatie.stepTwoData.date}"></span></p>
          <p>Tijdstip: <span th:text="${reservatie.stepTwoData.time}"></span></p>
          <p>Naam: <span th:text="${reservatie.stepThreeData.name}"></span></p>


<div style="text-align:center;">
  <button class="w-60 btn btn-lg btn-danger" name="bevestig" type="submit" style="width: 400px;">Bevestig u afspraak</button>
  <br>
  <br>
  <a class="w-60 btn btn-lg btn-danger"  style="width: 400px" th:href="@{/reservatielijst}">Annuleer</button></a>
</div>
</div>
  </form>
</div>
</body>
</html>