<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:https="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
<div th:fragment = "frame1" id="wizard-frame-1" class="wizard-frame" style="">
      <div class="frame-container">
        <h2 class="frame-title">Bevestiging</h2>
          <form class="card p-3 bg-light" action="#"  th:object="${reservatie}" method="post">
              <fieldset>
                  <div class="row" >
                      <table class="table table-hover">
                          <thead>
                          <tr>
                              <th scope="col">Organisatie boeking</th>
                          </tr>
                          </thead>
                          <tbody>
                          <tr th:object="${reservatie}">
                              <td th:text="${reservatie.slug}"></td>
                          </tr>
                          </tbody>
                          <thead>
                          <tr>
                              <th scope="col">Medewerker</th>
                          </tr>
                          </thead>
                          <tbody>
                          <tr th:object="${reservatie}">
                              <td th:text="${reservatie.slug}"></td>
                          </tr>
                          </tbody>
                          <thead>
                          <tr>
                              <th scope="col">Dienst</th>
                          </tr>
                          </thead>
                          <div class="row" th:if="${organisaties !=null && !organisaties.empty}">
                              <tbody>
                              <tr th:each="organisatie : ${organisaties}">
                                  <td th:text="${organisatie.bedrijfsNaam}"></td>
                                  <td th:text="${organisatie.paginaNaam}"></td>
                              </tr>
                              </tbody>
                          </div>
                          <thead>
                          <tr>
                              <th scope="col">Tijdstip</th>
                          </tr>
                          </thead>
                          <div class="row" th:if="${organisaties !=null && !organisaties.empty}">
                              <tbody>
                              <tr th:each="organisatie : ${organisaties}">
                                  <td th:text="${organisatie.bedrijfsNaam}"></td>
                                  <td th:text="${organisatie.paginaNaam}"></td>
                              </tr>
                              </tbody>
                          </div>
                      </table>
                  </div>
              </fieldset>
              <div style="text-align:center;">
                  <button class="w-60 btn btn-lg btn-success" name="bevestig" type="submit" style="width: 400px;">Bevestig u afspraak</button>
                  <br>
                  <button class="w-60 btn btn-lg btn-success" name="anuleer" type="submit" style="width: 400px;">Annuleren</button>
              </div>
          </form>
  </div>
</div>
</body>
</html>