<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:https="http://www.w3.org/1999/xhtml">
<head>
</head>
<div th:fragment="frame1" id="wizard-frame-1" class="wizard-frame" style="">
    <form action="#" th:action="@{/booking/step1}" method="post">
        <div class="frame-container">
            <h2 class="frame-title">Kies een dienst en een medewerker</h2>
            <div class="row frame-content">
                <div class="col">
                    <div class="form-group">
                        <label for="select-dienst">
                            <strong>Dienst</strong>
                        </label>

                        <select name = "service" id="select-dienst" class="form-control">
                            <option value="-1">Kies een dienst</option>
                            <option th:each="optie, iStat : ${opties}"
                                    th:value="${optie}"
                                    th:text="${optie}"
                            </option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="select-medewerker">
                            <strong>Medewerker</strong>
                        </label>

                        <select name = "employee" id="select-medewerker" class="form-control" disabled>
                            <option value="-1">Kies een medewerker</option>
                        </select>
                    </div>

                    <div id="service-description"><strong>Service</strong><br><span>[Duur: 30 minuten]</span></div>
                </div>
            </div>
        </div>
        <div class="command-buttons">
            <span>&nbsp;</span>

            <button type="submit" id="button-next-1" class="btn button-next btn-dark" value="Next">
                Volgende
                <svg class="svg-inline--fa fa-chevron-right fa-w-10 ml-2" aria-hidden="true" focusable="false"
                     data-prefix="fas" data-icon="chevron-right" role="img" xmlns="http://www.w3.org/2000/svg"
                     viewBox="0 0 320 512" data-fa-i2svg="">
                    <path fill="currentColor"
                          d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"></path>
                </svg>
            </button>
        </div>
    </form>
    <script th:inline="javascript">
        $(function () {
            $("#select-dienst").change(function () {
                let request = "getemployees?optie=";
                //debugger;
                if (this.value!== "null") {
                    request = request + encodeURIComponent(this.value);
                    $("#select-medewerker").load(request);
                    $("#select-medewerker").removeAttr("disabled");
                } else {

                    $("#select-medewerker").val("null");
                    $("#select-medewerker").attr("disabled",true);
                }
            });
        });
    </script>



    </body>
</div>
</html>