<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:https="http://www.w3.org/1999/xhtml">
<head>
</head>
<div th:fragment = "frame1" id="wizard-frame-1" class="wizard-frame" style="">
      <div class="frame-container">
        <h2 class="frame-title">Bevestiging</h2>
          <p>Dienst: <span th:text="${booking.stepOneData.service}"></span></p>
          <p>Medewerker: <span th:text="${booking.stepOneData.employee}"></span></p>
          <p>Datum: <span th:text="${booking.stepTwoData.date}"></span></p>
          <p>Tijdstip: <span th:text="${booking.stepTwoData.time}"></span></p>
          <p>Naam: <span th:text="${booking.stepThreeData.name}"></span></p>

  </div>
</div>
</body>
</html>