<!DOCTYPE html>
<html lang="en">
<head th:fragment = "feed (title)">
  <meta charset="UTF-8">
<Style>
  .footer {
    text-align: center;
    color: white;
    padding: 40px;
    background: rgb(46, 45, 45);
  }
</Style>
</head>
<body class="text-center">
<div class="feed" th:fragment="feed">

<div class="footer">
  <p> Contact Info<br>
    SnelGeboekt<br>
    Wijngaardveld 9<br>
    9300 Aalst <br>
    BE 0745.866.454 <br></p>
  <p style="color:red"> info@snelgeboekt.be</style></p>
  </p> </div>
</div>
</body>
</html>