<!DOCTYPE html>
<html lang="en">
<head th:fragment = "head (title)">
  <meta charset="UTF-8">

<style>
  .header {
    text-align: center;
    color: white;
    padding: 45px;
    background: rgb(240, 9, 9);
  }
</style>
</head>

<body class="text-center">
<div class="head" th:fragment="head">

      <div class ="header">
        <h1><p>Snel Geboekt</style></p></h1>  <p id="demo"></p>
          <input class="btn btn-primary" type="submit" value="Login">
          <input class="btn btn-primary" type="submit" value="Registreer">
      </div>
    </div>
  </div>
  </div>
  </div>
</div>
</body>
</html>
