<!DOCTYPE html>
<html lang="en">
<head th:fragment = "reclame">
  <title>reclame</title>
  <meta charset="UTF-8">

</head>
<body class="text-left">
<div class="reclame" th:fragment="reclame">

  <div class="reclame">


      <div class="container"  style=" float: right; margin: 30px;margin-right: 50px; border: 1px solid #999; clear: right; width: 500px; height: 250px">
          <img src="Afbeeldingen/snel.jpg" style="height: 250px; width: 480px; margin-right: 50px">
          </div>

    <p STYLE="margin-left: 140px">
        <br>
        <br>
        Wil je u klanten snel een afspraak laten boeken?<br>
        Dan moet je niet verder zoeken.<br>
        Wij bieden deze service aan,<br>
        al u zorgen van de baan.<br>
        Je kan u hier registreren,<br>
        en een eigen domeinnaam reserveren.<br>
        De link voeg je dan toe aan u site,<br>
        en onze service staat 24/7u paraat.<br>
        Een afspraak boeken buiten de kantooruren,<br>
        hoeft bij ons niet langer te duren.<br>
        Druk snel op registreer, <br>
        en probeer dit alvast een keer.
        <br>
        <br>
        </p>
        </div>

        <p STYLE="margin-left: 20px; text-align: center; color: red; border: black" >
            <b>Dit alles: <br>
                1 maand gratis proberen <br>
                1 maand = 15 euro  <br>
                1 jaar  = 165 euro</b>
        </p>

</div>
</body>
</html>