<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment = "registreer (title)">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Registreer</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link href="/css/static.css" rel="stylesheet">
</head>
<body class="text-center">
<div class="registreer" th:fragment="registreer">

<main class="form-signin">
    <form action="#" th:action="@{/settings}" th:object="${organisatie}" method="post">
        <h1 class="h3 mb-3 fw-normal">Registreer</h1>

        <style>
            .form-signin {
                width: 100%;
                max-width: 700px;
                padding: 20px;
                margin: auto;
            }
        </style>

        <input type="hidden"  th:field="*{id}">

        <div class="mb-1 alert alert-danger" role="alert" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
        <div class="form-floating">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" th:field="*{email}" >
            <label>Emailadres</label>
        </div>

        <!--
        <div class="row g-3">
            <div class="col alert alert-danger" role="alert" th:if="${#fields.hasErrors('naam')}" th:errors="*{naam}">
                <input type="text" class="form-control" id="naam" placeholder="Firstname" th:field="*{naam}">
            </div>
            <div class="col alert alert-danger" role="alert" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">
                <input type="text" class="form-control" id="lastName" placeholder="Lastname" th:field="*{lastName}">
            </div>
        </div>
        -->

        <div class="mb-1 mt-2 alert alert-danger" role="alert" th:if="${#fields.hasErrors('voorNaam')}" th:errors="*{voorNaam}"></div>
        <div class="form-floating">
            <input type="text" class="form-control" id="voorNaam" placeholder="Voornaam" th:field="*{voorNaam}">
            <label for="voorNaam">Voornaam</label>
        </div>

        <div class="mb-1 mt-2 alert alert-danger" role="alert" th:if="${#fields.hasErrors('achterNaam')}" th:errors="*{achterNaam}"></div>
        <div class="form-floating">
            <input type="text" class="form-control" id="achterNaam" placeholder="Achternaam" th:field="*{achterNaam}">
            <label for="achterNaam">Achternaam</label>
        </div>

        <div class="mb-1 mt-2 alert alert-danger" role="alert" th:if="${#fields.hasErrors('passWord')}" th:errors="*{wachtWoord}"></div>
        <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Wachtwoord" th:field="*{wachtWoord}" >
            <label>Wachtwoord</label>
        </div>

        <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword2" placeholder="Wachtwoord" th:field="*{checkWachtWoord}">
            <label>Herhaal Wachtwoord</label>
        </div>

        <div class="mb-1 mt-2 alert alert-danger" role="alert" th:if="${#fields.hasErrors('bedrijfsNaam')}" th:errors="*{bedrijfsNaam}"></div>
        <div class="form-floating">
            <input type="text" class="form-control" id="bedrijfsNaam" placeholder="Bedrijfsnaam" th:field="*{bedrijfsNaam}">
            <label for="bedrijfsNaam">Bedrijfsnaam</label>
        </div>

        <div class="mb-1 mt-2 alert alert-danger" role="alert" th:if="${#fields.hasErrors('paginaNaam')}" th:errors="*{pagineNaam}"></div>
        <div class="form-floating">
            <input type="paginaNaam" class="form-control" id="paginaNaam" placeholder="Paginanaam" th:field="*{paginaNaam}" >
            <label>Paginanaam</label>
        </div>

        <div class="mb-1 mt-2 alert alert-danger" role="alert" th:if="${#fields.hasErrors('land')}" th:errors="*{land}"></div>
        <select class="form-select" aria-label="Default select example">
            <option selected>Kies een land</option>
            <option value="1">Belgium</option>
            <option value="2">France</option>
            <option value="3">Spain</option>
        </select>

        <div class="mb-1 mt-2 alert alert-danger" role="alert" th:if="${#fields.hasErrors('zipCode')}" th:errors="*{postCode}"></div>
        <div class="form-floating">
            <input type="postCode" class="form-control" id="postCode" placeholder="Postcode" th:field="*{postCode}" >
            <label>Postcode</label>
        </div>

        <button class="w-100 btn btn-lg btn-primary" th:ref="@{/betalen}">Abonneer met Paypal</button>


        <div class="mb-1 alert alert-danger" role="alert" th:if="${#fields.hasErrors('payPalEmail')}" th:errors="*{payPalEmail}"></div>
        <div class="form-floating">
            <input type="payPalEmail" class="form-control" id="payPalEmail" placeholder="name@example.com" th:field="*{payPalEmail}" >
            <label>PayPal Email</label>
        </div>



        <button class="w-100 btn btn-lg btn-success" type="submit">Account Aanmaken</button>

    </form>
</main>


</div>
</body>
</html>
