<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment = "registreer (title)">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Registreer</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link href="/css/static.css" rel="stylesheet">
</head>
<body class="text-center">
<div class="registreer" th:fragment="registreer">

<main class="form-signin">
    <form action="#" th:action="@{/registreer}" th:object="${user}" method="post">
        <h1 class="h3 mb-3 fw-normal">Registreer</h1>


        <input type="hidden"  th:field="*{id}">

        <div class="mb-1 alert alert-danger" role="alert" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
        <div class="form-floating">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" th:field="*{email}" >
            <label>Email address</label>
        </div>


        <div class="row g-3">
            <div class="col alert alert-danger" role="alert" th:if="${#fields.hasErrors('naam')}" th:errors="*{naam}">
                <input type="text" class="form-control" id="naam" placeholder="Firstname" th:field="*{naam}">
            </div>
            <div class="col alert alert-danger" role="alert" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">
                <input type="text" class="form-control" id="lastName" placeholder="Lastname" th:field="*{lastName}">
            </div>
        </div>
        -->

        <div class="mb-1 mt-2 alert alert-danger" role="alert" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></div>
        <div class="form-floating">
            <input type="text" class="form-control" id="firstName" placeholder="Firstname" th:field="*{firstName}">
            <label for="firstName">First name</label>
        </div>

        <div class="mb-1 mt-2 alert alert-danger" role="alert" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></div>
        <div class="form-floating">
            <input type="text" class="form-control" id="lastName" placeholder="Lastname" th:field="*{lastName}">
            <label for="lastName">Last name</label>
        </div>

        <div class="mb-1 mt-2 alert alert-danger" role="alert" th:if="${#fields.hasErrors('company')}" th:errors="*{company}"></div>
        <div class="form-floating">
            <input type="text" class="form-control" id="company" placeholder="Lastname" th:field="*{company}">
            <label for="company">Company/team name</label>
        </div>

        <div class="mb-1 mt-2 alert alert-danger" role="alert" th:if="${#fields.hasErrors('yourPageName')}" th:errors="*{yourPageName}"></div>
        <div class="form-floating">
            <input type="yourPageName" class="form-control" id="yourPageName" placeholder="YourPageName" th:field="*{passWord}" >
            <label>YourPageName</label>
        </div>

        <div class="mb-1 mt-2 alert alert-danger" role="alert" th:if="${#fields.hasErrors('country')}" th:errors="*{country}"></div>
        <select class="form-select" aria-label="Default select example">
            <option selected>Select country</option>
            <option value="1">Belgium</option>
            <option value="2">France</option>
            <option value="3">Spain</option>
        </select>

        <div class="mb-1 mt-2 alert alert-danger" role="alert" th:if="${#fields.hasErrors('zipCode')}" th:errors="*{zipCode}"></div>
        <div class="form-floating">
            <input type="zipCode" class="form-control" id="zipCode" placeholder="ZipCode" th:field="*{zipCode}" >
            <label>Zip Code</label>
        </div>

        <button class="w-100 btn btn-lg btn-primary" th:ref="@{/betalen}">Subscribe with PayPal</button>


        <div class="mb-1 alert alert-danger" role="alert" th:if="${#fields.hasErrors('payPalEmail')}" th:errors="*{payPalEmail}"></div>
        <div class="form-floating">
            <input type="payPalEmail" class="form-control" id="payPalEmail" placeholder="name@example.com" th:field="*{payPalEmail}" >
            <label>PayPal Email</label>
        </div>



        <button class="w-100 btn btn-lg btn-success" type="submit">Account Aanmaken</button>

    </form>
</main>


</div>
</body>
</html>
